/* LOADER */

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.90);
    animation-name: loader;
    animation-duration: 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
}

@keyframes loader {
    100% {
      opacity: 0%;
      z-index: -10;
    }
  } 

.loaderItem
{
    height: 16px;
    width: 16px;
    border-radius: 16px;
    animation-name: saut;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.loaderConteneur
{
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.loaderItem--1
{
    background-color: #9356DC; 
}

.loaderItem--2
{
    background-color: #FF79DA;
    animation-delay: 0.25s;
}

.loaderItem--3
{
    background-color: #99E2D0;
    animation-delay: 0.5s;
}

@keyframes saut {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(8px);
    }
    75% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0px);
    }
}

/* BODY */

body
{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.conteneur
{
    max-width: 1280px;
    margin: auto;
    position: relative;
}

/* HEADER */

.headerIndex
{
    padding: 15px;
    box-shadow: 0 0 10px grey;
    position: relative;
    z-index: 1000;
}

.headerLogo
{
    margin-top: 10px;
    margin-bottom: 10px;;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
}

@media (min-width: 720px) {
    .headerLogo
    {
        width: 30%;

    }
}

@media (min-width: 1024px) {
    .headerLogo
    {
        width: 20%;

    }
}

/* SECTIONS */

.localisation
{
    display: flex;
    justify-content: center;
    padding: 20px 15px;
    background-color: rgb(243, 243, 243);
    font-size: 18px;
    position: relative;
}

.localisationIcone
{
    margin-right: 16px;
    color: #303030;
}

.localisationText
{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #303030;
}

.presentation
{
    padding: 30px 30px 60px 30px;
    text-align: center;
    background-color: rgb(250, 250, 250);
}

.presentationTitre
{
    margin: 0px;
    font-size: 30px;
    font-size: 20px;
}

.presentationSoustitre
{
    font-weight: 300;
    margin: 20px 0 40px 0;
    font-size: 15px;
}

.presentationBoutton
{
    border: 0px;
    width: auto;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 100px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.explication
{
    padding: 30px 15px;
}

.explicationIcone
{
    color: #303030;
}

.explicationTitre
{
    margin-top: 0px;
    font-size: 20px;
}

.explicationListe
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    counter-reset: compteListe;
}

@media (min-width: 1024px)
{
    .explicationListe{
    display: flex;
    }
}

.explicationIcone
{
    margin-right: 20px;
}

.explicationPoint
{
    padding: 25px;
    margin: 15px 0px 15px 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    position: relative;
    counter-increment: compteListe;
    animation-duration: 0.6s;
    animation-name: Restaurant;
    animation-timing-function: cubic-bezier(0,0,.57,1);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}

@media (min-width: 1024px) {
    .explicationPoint
    {
    flex: 1;
    margin: 0px;
    margin-left: 32px;
    }

    .explicationPoint:first-child 
    {
      margin-left: 12px;
    }
  }

.explicationPoint:hover
{
    background-color: rgb(147, 86, 220,0.25);
}

.explicationPoint:first-child
{
    margin-top: 0px;
}

.explicationPoint:last-child
{
    margin-bottom: 0px; 
}

.explicationPoint::before
{
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356DC;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: -12px;
}

.explicationIcone:hover
{
   color: rgb(147, 86, 220)
}

.main
{
    background-color: #F6F6F6;
}

.restaurants
{
    background-color: #F6F6F6;  
    padding: 30px 15px;
    padding-bottom: 60px;
}

.restaurantsTitre
{
    font-size: 20px;
}

.cartes
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

@media (min-width: 1024px) {
    .cartes
    {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 720px) {
    .cartes
    {
    grid-template-columns: repeat(2, 1fr);
    }
}

.carte
{
    background-color: white;
    border-radius: 15px;
    position: relative;
    text-decoration: none;
    display: block;
    list-style: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
    animation-duration: 0.6s;
    animation-name: Restaurant;
    animation-timing-function: cubic-bezier(0,0,.57,1);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}


.carteImage
{
    height: 190px;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: none;
    object-fit: cover;
}

.carteVignette
{
    background-color: #99E2D0;
    color: green;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.carteFooter
{
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.carteTitre
{
    margin: 0px;
    margin-bottom: 4px;
    font-size: 16px;
}

.carteSoustitre
{
    margin: 0px;
    font-size: 14px;
}

.menuBoutton {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;
}

.carteLike
{
    background-color: white !important;
    color: black;
}

.carteLikeBis
{
    background-color: #F6F6F6;
}

.menuBoutton:hover::before {
    opacity: 100%;
  }
  
.menuBoutton::before {
    opacity: 0%;
    transition: 0.5s;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #9356DC 0%,#FF79DA 100%);
}
.menuLike
{
transition-duration: .25s;
background-color: #F6F6F6;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
display:flex;
align-items:center;
justify-content:center;
mix-blend-mode: lighten;
}

.menuBoutton:hover .menuLike--noBg
{
    opacity: 0%;
}

.menuBoutton:hover .menuLike--Bg
{
    opacity: 100%;
}

.carte:visited
{
    color: black;
}

.groupeCarte
{
    flex: 1;
    color: black;
}

/* FOOTER */

.footer
{
    background-color: #353535;
}

.footerLogo
{
    margin: 0px;
    margin-bottom: 15px;
    max-width: 200px;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}

.footerListe
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footerPoint
{
    margin: 8px 0px;
}

.footerLien
{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.footerIcone
{
    margin-right: 10px;
    width: 20px;
}

.footerLien:hover
{
    text-decoration: underline;
}

.footerConteneur
{
    max-width: 1280px;
    margin: auto;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* RESTAURANTS */

.headerRestaurant
{
    position: relative;
}

.headerLogoBis
{
    padding: 10px;
    margin-bottom: 10px;;
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: auto;
}

@media (min-width: 720px) {
    .headerLogoBis
    {
        width: 30%;

    }
}

@media (min-width: 1024px) {
    .headerLogoBis
    {
        width: 20%;

    }
}

.headerFleche
{
    position: absolute;
    left: 32px;
    height: 32px;
    width: 32px;
    top: 60%;
    display:flex;
    align-items:center;
    justify-content:center;
    transform: translateY(-50%);
    font-size: 20px;
    color: #303030;
}

.presentationImage
{
    max-width: 100%;
    max-height: 240px;
    width: 100%;
    object-fit: cover;  
}

.groupeMenu
{
    margin-top: -64px;
    border-radius: 32px 32px 0px 0px;
    background-color: #F6F6F6;
    z-index: 1;
    position: relative;
    max-width: 100%;
}

.menuHeader
{
    padding: 16px 32px 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuTitre
{
    font-family: "Shrikhand", "cursive";
}


.menuCartes
{
    display: grid;
}

@media (min-width: 1024px) 
{
    .menuCartes{
    grid-template-columns: repeat(3,1fr);
    column-gap: 16px;}
}

@media (min-width: 720px) 
{
    .menuCartes{
    grid-template-columns: repeat(2,1fr);
    column-gap: 16px;}
}

.menuCartes
{
    max-width: 100%;
    overflow: hidden;
    padding: 0px 16px;
    margin: auto;
}

.menuCarte__titre
{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    font-weight: normal;
    font-size: 15px;
}

.menuCarte__titre::after
{
    content: " ";
    width: 48px;
    height: 4px;
    background-color: #99E2D0;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.menuRestaurant
{
    background-color: white;
    padding: 12px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    animation-duration: 1s;
    animation-name: Restaurant;
    animation-timing-function: cubic-bezier(0,0,.57,1);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
}

@keyframes Restaurant 
{
    0% 
    {
        transform: scale(0);
        opacity: 0%;
    }
    100% 
    {
        transform: scale(1);
        opacity: 100%;
    }
}

.delay-0 
{
    animation-delay: 0s;
}
  
.delay-1 
{
    animation-delay: 0.15s;
}
  
.delay-2 
{
    animation-delay: 0.30s;
}
  
.delay-3 
{
    animation-delay: 0.45s;
}
  
.delay-4 
{
    animation-delay: 0.60s;
}
  
.delay-5 
{
    animation-delay: 0.75s;
}
  
.delay-6 
{
    animation-delay: 0.9s;
}
  
.delay-7 
{
    animation-delay: 1.05s;
}
  
.delay-8 
{
    animation-delay: 1.2s;
}

.delay-9
{
    animation-delay: 1.35s;
}

.menuRestaurant__header
{
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.menuRestaurant__titre
{
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}

.menuRestaurant__description
{
    margin-top: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.menuRestaurant__prix
{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 8px;
    font-size: 13px;
}

.menuRestaurant__confirmation
{
    background-color: #99E2D0;
    margin: -16px -80px -16px 16px;
    width: 64px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
}

.menuRestaurant:hover .menuRestaurant__confirmation
{
    margin-right: -16px;
}

.menuRestaurant__iconeModif
{
    display: none;
    height: 25px;
    width: 25px;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.menuRestaurant:hover .menuRestaurant__iconeModif
{
    transform: rotate(0);
}

.menuRestaurant__icone
{
    color: #99E2D0;
}

.modifBoutton
{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 48px 0px;
}

.commanderBoutton
{
    border: 0;
    width: auto;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 100px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.footerLogoBis
{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}